nav{
    background:#f90;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 15px;
    color: white;
    position: relative;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: #333;
  }

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
  
nav li {
    margin-right: 2rem;
  }
  
 nav div{
  margin-right: 25px;
  color: white;
  font-weight: bold;
} 
